*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 1300px;
    font-family: sans-serif;
    
 } 
 #logo{
   width: 100px;
   height: 34px; 
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: white;
}

.nav {
  display: flex;
  gap: 25px;
}
.nav-links a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.nav-links a::after {
    content: "";
    height: 2px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;
}
.nav-links a:hover {
  color: rgb(20, 20, 20);
  transform: scale(1.05);   
}
.nav-links a:hover::after {
  width: 100%;
}
i{
   padding: 5px;
   transition:  0.3s ;
}
i:hover{
  transform: scale(2); 
}
 @media (max-width: 570px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        flex-direction: column;
        width: 200px;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        justify-content:end;
    }
}
.menu-btn{
    display: none;
}
@media (max-width: 570px) {
    .menu-btn{
        display: flex
    }
}

.nav-links.active {
  display: block;
  flex-direction: column; 
} 
.home{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F9F5F2;
  padding-top: 2rem;
}
.home-img{
  width: 30rem;
  height: 30rem;
}
.home-img{
  background-color: #F9F5F2;
  padding-right: 1.5rem;
}
.left-container{
  padding-left: 3.4rem;
  
}
.name{
  padding-bottom: 2.5rem;
  color: #7a0505;
}
.home-heading{
  font-size: 3.5rem;
}
.home-text{
  padding-top: 1rem;
}
.home-btn{
  width: 5.5rem;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 6px;
  border: solid rgb(10, 10, 10);
  box-shadow: none;
  font-weight: bold;
  background-color: black;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.home-btn:hover{
  background-color:#333;
  transform: scale(1.05);
}
@media (max-width: 570px) {
  .home{
    flex-wrap: wrap;
    
  }
  .home-img{
    width: 27.5rem;
    height: 28rem;
    align-items: center;
    padding-top: 2rem;
  }
  
}
